extends layouts/base

block content
  main.Container
    .Container_left
      img.Photo(src="/img/profile.png", alt="")
      h3 Contact
      p khv2online@gmail.com
      p
        a(href="https://www.linkedin.com/in/vladimir-fedorov-56bbb1128/", target="blank") www.linkedin.com/in/vladimir-fedorov-56bbb1128 (LinkedIn)
      h3 Top Skills
      ul
        li JavaScript
        li Node.js
        li Express.js
        li Web Components
        li Ember.js
        li Backbone.js
        li Twitter Bootstrap
        li Python
        li Django
        li Starlette
        li HTML
        li CSS
        li WCAG
        li OOP

      h3 Languages
      ul
        li English (Full Professional)
        li Russian (Native or Bilingual)
        li Serbian (Limited Working)

    .Container_right
      h1 Vladimir Fedorov
      p 
        | Software Engineer at Alar Studios.
        br
        | Budva, Montenegro
      section.ResumeSection
        h2 Summary
        p
          | Experience in web development and Linux system administration since 2005. Extensive experience in developing online stores, corporate websites, single-page applications and complex user interfaces.
          | Worked both in large teams and alone on various projects, from simple landing pages to large social networks.
      section.ResumeSection
        h2 Experience
        article.Job
          h4.Job_title 
            | Alar Studios
            br
            | Full-stack Developer
            br
            | December 2018 - March 2023 (4 years 4 months)
            br
          h5.Job_subtitle Budva, Montenegro
          p In an IT outsource company, the role as a frontend developer involved specializing in creating single page applications and a complex social network for clients. Collaborating closely with project managers enabled a thorough understanding of client requirements, which then translated into functional items.
          p
            strong Skills:
            | 
            | Starlette,
            | Flask,
            | Jinja,
            | FastAPI,
            | REST APIs,
            | Linux,
            | Node.js,
            | Web Components,
            | Stylus,
            | JSON-RPC,
            | Single Page Applications,
            | Swagger API,
            | HTML Emails,
            | LESS (Stylesheet Language),
            | JavaScript,
            | React.js,
            | HTML5,
            | CSS,
            | Backbone.js,
            | CoffeeScript,
            | Gulp.js,
            | Web Content Accessibility Guidelines (WCAG),
            | SASS,
            | Agile Methodologies,
            | Scrum.

        article.Job
          h4
            | blue-ant.ru
            br
            | Frontend Web Developer
            br
            | March 2017 - December 2018 (1 year 10 months)
            br
          h5 Moscow City, Russia
          p As a frontend developer in a creative agency, the responsibility involved creating visually stunning and engaging websites for clients. Working closely with the design team, the team transformed the client's vision into responsive and functional websites that delivered a seamless user experience. Additionally, expertise in complex animations was leveraged to create nice looking dynamic and interactive elements that brought the websites to life.
          p
            strong Skills:
            | 
            | Object-Oriented Programming (OOP), GreenSock Animation Platform (GSAP), XML, XSLT, Babel.js, Search Engine Optimization (SEO), jQuery, AJAX, JavaScript, HTML5, Bootstrap, Cascading Style Sheets (CSS), jQuery UI, Gulp.js, SASS.
        article.Job
          h4 
            | Lead-R (Affiliate Network)
            br
            | Frontend Developer
            br
            | January 2014 - March 2016 (2 years 3 months)
            br
          h5 Moscow, Russia
          p Working as a front-end developer for the CPA affiliate network included creating and maintaining visually appealing websites and landing pages that promote the products and services offered by the network. Working closely with the marketing team ensured that websites and landing pages were optimized for conversion and user experience. HTML, CSS and JavaScript skills were used to create a responsive design that worked flawlessly across a variety of devices and platforms.
          p
            strong Skills:
            | 
            | Flask, Jinja, Node.js, Vue.js, Search Engine Optimization (SEO), HTML Emails, jQuery, Cloudflare, Handlebars.js, LESS (Stylesheet Language), AJAX, JavaScript, HTML5, Cascading Style Sheets (CSS), jQuery UI, Gulp.js, Ember.js, KnockoutJS.
        article.Job
          h4 
            | Self-employed
            | Freelance Web Developer
            | April 2011 - January 2014 (2&nbsp;years 10 months)
          h5 Remote
          p As a web development freelancer, the focus was on creating SEO optimized customized landing pages, e-commerce websites, email templates and even single page applications that met the unique needs of clients.
          p
            strong Skills: 
            | 
            | Object-Oriented Programming (OOP), Linux, Git, Node.js, Vue.js, JSON-RPC, Search Engine Optimization (SEO), HTML Emails, jQuery, AJAX, JavaScript, HTML5, Bootstrap, Cascading Style Sheets (CSS), Gulp.js, Express.js, SASS.
      section.ResumeSection.ResumeSection-last
        h2 Education
        article.Education
          h4 Far Eastern State University of Humanities
          p Bachelor's degree (Incomplete), Digital Technologies In Educational Processes · (September 2002 - March 2005)
