@require "./includes/variables"

body
  color: $fg-color
  background: #eee
  font-size: 12px
  font-family: Helvetica, Arial, sans-serif;

img
  display: block
  max-width: 100%

a
  color: inherit
  word-break: break-all

  &:hover
    color: inherit
    text-decoration: none

h1
  font-size: 26px

h2
  font-size: 18px

h3
  font-size: 16px

h4
  font-size: 14px

h5
  font-size: 12px

.Container
  max-width: 816px
  display: grid
  grid-template-columns: 4fr 8fr
  margin: 0 auto

  &_left,
  &_right
    padding: $col-y-padding $col-x-padding;

  &_left
    background-color: $primary-color
    color: $primary-fg-color

  &_right
    background: $bg-color


.Photo
  margin: 0 auto $col-y-padding
  width: 80%
  max-width: 256px
  border-radius: 50%

.ResumeSection
  margin-bottom: calc(1rem + 1px)
  position: relative
  
  &:not(.ResumeSection-last)
    padding-bottom: 1px

    &::after
      content: ""
      user-select: none
      pointer-events: none
      position: absolute
      bottom: 0
      width: 4rem
      height: 1px
      background-color: $border-color
  
.Job
  padding: 8px
  border: 1px solid $border-color
  margin: 0 -2px 1rem

  & > :last-child
    margin-bottom: 0
